.App {
    margin: -20px;
    padding: 20px;
    background-color: #d7e0e6;
}

.App header {
    text-align: center;
}

.App .MuiGrid-align-items-xs-center {
    align-items: normal;
}

.App .gridItem-wrapper {
    min-width: 400px;
    max-width: 750px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.App .MuiCard-root {
    padding: 20px;
}
